<!DOCTYPE html>
<html>
<head>
<title> Snake </title>


</head>
<body>



<canvas id="myCanvas" width="700" height="300" ></canvas>




<!-- Load the Paper.js library -->
<script type="text/javascript" src="paper-full.js"></script>

<script type="text/paperscript" canvas="myCanvas" )>

//Variable qui contiendra le 'papier' à dessiner
var myPath;

function onMouseDown(event) {
    myPath = new Path();
myPath.strokeColor = 'black';
console.log('mousedown');
}

function onMouseDrag(event) {
    myPath.add(event.point);

console.log('mousedrag');
}

function onMouseUp(event) {
    var myCircle = new Path.Circle(event.point, 5);
	myCircle.strokeColor = 'black';
	console.log('mouseup');
}


</script>
</body>
</html>